{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block actions %}
{% endblock %}

{% block title %}
	
	Cadastro de conta
{% endblock %}

{% block content %}
<h1>{% bootstrap_icon 'folder-open' %} Cadastro de conta</h1>
<form class="form" role="form" method="POST">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% bootstrap_field form.descricao %}
  {% bootstrap_field form.saldo %}
 
  <div style="pointer-events: none;">
  {% bootstrap_field form.usuario %}
</div>
  {% buttons submit='Gravar' %}
    <a href="javascript:history.go(-1);" class="btn btn-info" role="button">Voltar</a>
  {% endbuttons %}
</form>
{% endblock %}