{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block title %}
	Categorias
{% endblock %}

{% block content %}
<h1>{% bootstrap_icon 'user' %} Categorias</h1>
	<div class="panel panel-default">
	  <div class="panel-body">
	    <a href="{% url 'categoria_create' %}" class="btn btn-md btn-primary">{% bootstrap_icon 'floppy-disk' %} Cadastrar categoria</a>
	  </div>
	</div>
	<table class="table table-hover">
  		<thead>
  			<th>Descriçao</th>
			  <th class="text-center">Despesas</th>
			  <th class="text-center">Lucros</th>
  			{% comment %} <th>Situação</th> {% endcomment %}
  			<th class="text-center">Editar</th>
			<th class="text-center">Excluir</th>
  		</thead>
  		<tbody>
  			{% for categoria in object_list %}
				<tr>
					<td>{{ categoria.descricao }}</td>
					
					{% comment %} <td>
						{% if categoria.is_active %}
							Ativa 
							{% bootstrap_icon 'thumbs-up'%}
						{% else %}
							Inativa 
							{% bootstrap_icon 'thumbs-down' %}
						{% endif %}
					</td> {% endcomment %}
					<td class="text-center">
						<a href="{% url 'despesas_por_categoria' categoria.id %}" class="btn btn-danger btn-sm">
							{% bootstrap_icon 'eye-open' %}  Ver Despesas
						</a>
					</td>
					<td class="text-center">
						<a href="{% url 'lucros_por_categoria' categoria.id %}" class="btn btn-success btn-sm">
							{% bootstrap_icon 'stats' %} Ver Lucros
						</a>
					</td>
					
					<td class="text-center">
				          {% bootstrap_button content='' href=categoria.get_absolute_url button_type='link' icon='edit' button_class='btn btn-primary' size='sm' %}
				    </td>
					<td class="text-center">
						{% bootstrap_button content='' href=categoria.get_delete_url button_type='link' icon='trash' button_class='btn btn-danger' size='sm' %}
				  </td>
				</tr>
			{% endfor %}
  		</tbody>
	</table>
{% endblock %}