{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block title %}
 Dispesas
{% endblock %}

{% block content %}
<h1>{% bootstrap_icon 'glyphicon glyphicon-usd' %}Dispesas</h1>
	<div class="panel panel-default">
	  <div class="panel-body">
	    <a href="{% url 'lancamento_create' %}" class="btn btn-md btn-primary">{% bootstrap_icon 'floppy-disk' %} Cadastrar dispesas</a>
	  </div>
	</div>
	<table class="table table-hover">
  		<thead>
  			<th>Dispesa</th>
  			<th>Valor</th>
			  <th>Data</th>
			  <th>Conta</th>
			
  			
  			<!--<th class="text-center">Editar</th>-->
			<th class="text-center">Excluir</th>
  		</thead>
  		<tbody>
			
  			{% for dispesa in object_list %}
				<tr>
					<td>{{ dispesa.dispesa }}</td>
					<td>{{ dispesa.valor }}</td>
					<td>{{ dispesa.data }}</td>
					<td>{{ dispesa.conta }}</td>
					<td>{{ dispesa.categorias }}</td>
					
					
					
					<!--<td class="text-center">
				          {% bootstrap_button content='' href=dispesa.get_absolute_url button_type='link' icon='edit' button_class='btn btn-primary' size='sm' %}
				    </td>-->
					<td class="text-center">
						{% bootstrap_button content='' href=dispesa.get_delete_url button_type='link' icon='trash' button_class='btn btn-danger' size='sm' %}
				  </td>
				</tr>
			{% endfor %}
  		</tbody>
	</table>
{% endblock %}