{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block title %}
 Lucro
{% endblock %}

{% block content %}
<h1>{% bootstrap_icon 'glyphicon glyphicon-piggy-bank' %} Lucros</h1>
	<div class="panel panel-default">
	  <div class="panel-body">
	    <a href="{% url 'lucro_create' %}" class="btn btn-md btn-primary">{% bootstrap_icon 'floppy-disk' %} Cadastrar lucros</a>
		<p class="btn btn-md btn-primary"> Valor total dos lucros até o momento é de: {{total}} R$</p>
	</div>
	</div>
	<p><b>Obs:</b> Mesmo que o lucro seja excluído, o valor ainda permanecerá no total de quanto você lucrou.</p>
	<table class="table table-hover">
  		<thead>
			
  			<th>Ganhos</th>
  			<th>Valor</th>
			  <th>Data</th>
			  <th>Conta</th>
			
  			
  			<th class="text-center">Excluir</th>
  		</thead>
  		<tbody>
			
  			{% for ganho in object_list %}
				<tr>
					<td>{{ ganho.ganhos }}</td>
					<td>{{ ganho.valor }}</td>
					<td>{{ ganho.data }}</td>
					<td>{{ ganho.conta }}</td>
					
									
					<td class="text-center">
						{% bootstrap_button content='' href=dispesa.get_delete_url button_type='link' icon='trash' button_class='btn btn-danger' size='sm' %}
				  </td>
				</tr>
			{% endfor %}
  		</tbody>
	</table>
{% endblock %}